#about.common
  %h1 JDMash
  
  %p みんなでつくろう国会議員のウェブサイトランキング
  
  %ol
    %li 2名の国会議員のウェブサイトのキャプチャが表示されるので、よいと思ったほうを選びます
    %li 選ばれたほうの点数が上がり、選ばれなかったほうの点数が下がります
    %li 選び続けていると国会議員のウェブサイトのランキングができあがります

  %h2 評価のヒント
  %ul
    %li 基本的にフィーリング. 難しいことは考えずに気に入ったほうをクリック！
    %li 画像がぼこっと欠けているように見えるのはおそらくFlash. iPadなどで閲覧できないサイトということだ

  %h2 データについて
  %p 国会DB APIからインポートした議員のWebサイト一覧を使用しています

  %h2 ソースコード
  %p
    %a{:href => 'https://github.com/miminashi/jdmash', :target => '_blank'} https://github.com/miminashi/jdmash

  %p.to-toppage
    %a{:href => '/'} トップページに戻る
