#about
  %h1 JDMash
  
  %p みんなでつくろう国会議員のウェブサイトランキング
  
  %ol
    %li 2名の国会議員のウェブサイトのキャプチャが表示されるので、よいと思ったほうを選びます
    %li 選ばれたほうの点数が上がり、選ばれなかったほうの点数が下がります
    %li 選び続けていると国会議員のウェブサイトのランキングができあがります

  %p
    Source Code:
    %a{:href => 'https://github.com/miminashi/jdmash', :target => '_blank'} https://github.com/miminashi/jdmash

  %p
    %a{:href => '/'} トップに戻る
