// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0
}

.screenshot {
  position: relative;
  float: left;
  left: -50%;
  border: solid;
  margin: 1em;
}

.clear {
  clear: both;
}

p#prompt {
  margin-top: 1.6em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

p#next {
  font-size: 1.2em;
}

#wrap-screenshots {
  position: relative;
  left: 50%;
  float: left;
}

#wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
}

#footer {
  /* margin-left: 1em; */
  /* margin-right: 1em; */
  /* width: 100%; */
  /* left: 1em; */
  /* right: 1em; */
  padding-left: 1em;
  padding-right: 1em;
}

#footer p.left {
  float: left;
}
#footer p.right {
  float: right;
}
