#ranking.common
  %h1 JDMash
  %p
    %a{:href => '/'} トップページに戻る
  %h2 ランキング
  %table
    %thead
      %tr
        %th Name
        %th Url
        %th Score
    %tbody
      - @members.each do |member|
        %tr
          %td= member.name
          %td
            = link_to member.url, member.url, {:target => '_blank'}
          %td= member.rating
  %p
    %a{:href => '/'} トップページに戻る
